.button {
  color: #ffffff;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--radius);
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  width: 100px;
  height: 45px;
  z-index: 9999;
  pointer-events: auto;
  margin-top: 10px;
  margin-bottom: -10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
