/* Arrow button reset */
.arrow-wrapper {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -5%;
  transform: translateY(-50%);
  width: 12px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-wrapper:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.arrow-wrapper.prev {
  left: 94%;
  margin-top: 4px;
}

.arrow-wrapper.next {
  left: 97%;
}

.arrow-wrapper.prev .arrow {
  transform: rotate(180deg);
}

.arrow {
  cursor: pointer;
  height: 60px;
  width: 50px;
  position: relative;
  transition: transform 0.1s;
}

.arrow-top,
.arrow-bottom {
  background-color: #66666677;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #00000021;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
}

.arrow-wrapper:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow-wrapper:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow-wrapper:active .arrow {
  transform: scale(0.9);
}

.arrow-wrapper.prev:active .arrow {
  transform: rotate(180deg) scale(0.9);
}
